@import url('font/icomoon79565/style.css');

/* Global Reset */
* {
  margin: 0;
  /*padding: 0;*/
}

body {
  color: #222;
  text-align: center;
  font-family:"Avenir Next", Helvetica, Arial, "Lantinghei SC", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  margin-bottom: 5px;  /*自定义段落与段落之间的间距*/
  /*自定义line-height: 170%; body对象行与行的间距*/
  font-size: 100%;
}

p{
  text-align: justify;
  margin: 1em 0;
  }

/*添加段与段之间的分割线样式*/
hr {
    border-bottom: 1px dashed #f9f9f9;
    border-top: 2px dashed #22c3aa;
    margin-top:2em;
    margin-bottom: 2em;
}

p {
    margin: 0px 0px 10px;
    /*使左右两边对齐*/
    text-align:justify;
    -webkit-text-align-last:justify;/*chrome 20+*/
    font-size: 0.9rem;
    }

table {
  font-size: inherit;
  font: 100%;
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #999;
  padding: 0.4em;
}


/* Common */

a {
  color: #e74c3c;
  text-decoration: none;
}

a:active {
  color: #255b96;
  /*color: #e0115f;*/
}

a:visited {
  /*color: #255b96;
  color: #e0115f;*/
}

a:hover {
  text-decoration: underline;
}

a.discreet {
  color: #222;
}

.fancy, section, article {
  font-family: Bitter, Georgia, "Helvetica Neue","Hiragino Sans GB",Arial,"微软雅黑",sans-serif;
  line-height: 170%;
}
section{
	padding-bottom: 10px;
}
.fancy {
  margin-bottom: 25px;
}
.pull-right { float: right; }
.pull-left { float: left; }
.clear { clear: both; }
.center { text-align: center !important; }
.right { text-align: right; }
.spacer {
  border-top: 1px solid #E6E6E6;
  margin: 2em auto;
}
.without-border {
  border: none;
}

/* Header and navigation */
header {
  font-family: "Avenir Next", Helvetica, Arial, "Lantinghei SC", "Microsoft YaHei", sans-serif;
  /*font-weight: bold;*/
}

.header-container {
  /*border-bottom: 1px solid #eee;*/
  margin-bottom: 1.5em;
  background: #48C9B0; /*#f3f3f3;*/
}

header nav {
  float: left;
  padding-top: 14px;
}

nav a {
  display: inline-block;
  margin-right: 1.2em;
  padding-bottom: 0.2em;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  font-size: 0.9rem;
  color: #404040;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 3px solid #E74C3C;
}

nav a.selected {
  color: black;
}

nav a.selected:hover {
  border-bottom: none;
}


h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.1;
}

h1, h2, h3 {
    /*定义标题,字标题字体大小*/
    font-family: Georgia,"Xin Gothic","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
    /*定义标题,字标题字体颜色*/
    color:#3d4657;
}

h1 {
    font-size: 1.7em;
    line-height: 1.7em;
    font-weight: 700;
}

h1 small {
    font-weight: 400;
    font-size: 50%;
    color: #999;
}

h2 {
    font-size:1.5em;
}

h3 {
    font-size:1.17em;
}

.post-recents-in-index{
  paddin-top: 2em;
}

.post-list-in-index{
  margin-top: 0px;
  margin-bottom: opx;
  list-style: none;
}

.post-list-date-in-index{
  margin-right: 1em;
}

section ul{
  padding-left: 0em;
}

/**设置引用格式**/
blockquote {
  margin: 1em 0 1em 0em;
  color: #666;
  border-left: 0.4em solid #48C9B0;
  padding-left: 0.6em;
  font-style: italic;
}

@media(max-width: 400px) {
  .header-container .contact {
    display: none;
  }
}

.separator {
  padding-bottom: 0.8em;
  margin-bottom: 1.4em;
}

header .logo a, header .logo a:hover {
  color: black;
  text-decoration: none;
}

.logo small a {
  font-weight: 400;
}

.logo .name {
  display: inline-block;
}

.inner, pre code, .post > * {
  max-width: 760px; /*680*/
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  display: block;
}

.twitter-tweet.twitter-tweet-rendered {
  margin: 1em auto !important;
}

.post > .highlight {
  /*max-width: 100% !important;  代码块区域宽度*/
  word-wrap: break-word;
}

/*设置移动端样式*/
@media (max-width: 700px) {
  .inner, pre code, footer, .post > * {
    margin-left: 18px !important;
    margin-right: 18px !important;
    width: auto !important;
  }
  .post > .highlight {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  header .logo {
    clear: left;
    text-align: center;
    padding-top: 1em;
    float: none;
  }

  header .avatar {
    margin-top: 0em;
    max-width: 80px;
    /*vertical-align: -20px;
    margin-left: 0*/
  }

  header nav {
    float: none;
    text-align: center;
  }

  header nav a{
    padding-top: 0.5em;
  }
}

/**设置导航中头像样式**/
.avatar {
  border-radius: 50%;
  max-width: 50px;
  vertical-align: -9px;
  margin-left: 12px;
  box-shadow: 0px 0px 0px 4px #FFF, 0px 0px 4px 4px #4D4D4D;
}

/*图像旋转*/
.avatar:hover {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(359deg); } }

.links {
  border-top: 1px solid #E6E6E6;
  margin: 1em 0;
  list-style-type: none;
  font-size: 1.4em;
}

.links li {
  padding: 0.5em 0;
}

.about-me .speak-french {
  line-height: 3.8em;
}

/* Footer */
footer {
  font-size: small;
  line-height: 2em;
  color: #858585;
  text-align: center;
  margin-top: 3em;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  margin: 1em 0;
}

footer .linkings {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
  display: block;
  border: none;
  line-height:140%
}

footer .links {
  border: none;
}

footer .links li {
  display: inline;
  padding: 0 0.2em;
}

footer .links a:hover {
  text-decoration: none;
}

/*添加博客首页为谢一挥的模板样式——开始*/
.subheader-container {
  margin-bottom: 3.5em;
}

.sub-nav {
  float: right;
}
.inner .sub-inner{
  text-align: right;
}

header {
  padding: 0.6em 0;
}

header a {
  text-decoration: none;
}

header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

header h1.title a {
  color: #a00;
}

header h1.title a:hover {
  color: #000;
}

.convinced { /*margin: 6em 0 4em 0;*/}

.suggest-translate {
  font-style: italic;
}

.gist {
  font-size: 0.7em !important;
  line-height: 130% !important;
}
.gist .lines {
  width: 100%;
}

.book-me {
  float: right;
  margin-top: -3px;
}

@media (max-width: 420px) {
  .book-me {
    float: none;
    text-align: center;
    margin: 0 0 1em 0;
  }
  .about-me h1 {
    text-align: center;
  }
  .hello {
    display: none;
  }
}

/*按钮开始*/
/* From http://designmodo.github.io/Flat-UI/*/
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  background-color: #48C9B0;
  color: #ffffff !important;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #11B6A0;
  text-decoration: none;
  cursor: pointer;
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}

.form-control {
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}

/* Register*/
.post-footer-self-promotion input {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #CCCCCC;
  color: #555555;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 0px 12px;
  border-right: none;
}

.post-footer-self-promotion input[type="email"] {
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px 0 0 4px;
  width: 210px;
}

.post-footer-self-promotion input[type="submit"] {
  background-color: #255b96;
  color: #ffffff !important;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-right: 1em;
}

@media (max-width: 419px) {
  .post-footer-self-promotion input[type="email"] {
    border-right: 1px solid #CCC;
    border-radius: 4px;
  }
  .post-footer-self-promotion input[type="submit"] {
    display: block;
    border-radius: 4px;
    width: 210px;
    margin-top: 1em;
  }
}
/*按钮结束*/

.jiathis_custom{
    margin-top:25px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
