<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2009-12-18-petals-dropping-down-to-the-ground-silent.md</string>
		</array>
		<array>
			<string>2009-12-31-life-is-still-beautiful.md</string>
		</array>
		<array>
			<string>2011-06-06-writing-in-dragon-boat-festival.md</string>
		</array>
		<array>
			<string>2011-9-18-dream-in-tears.md</string>
		</array>
		<array>
			<string>2012-01-04-dine-together-in-senior-two.md</string>
		</array>
		<array>
			<string>2012-03-14-never-give-up-no-matter-how-hard-it-is.md</string>
		</array>
		<array>
			<string>2012-09-02-treat-your-living-space-well.md</string>
		</array>
		<array>
			<string>2012-09-04-say-good-bye-to-2012.md</string>
		</array>
		<array>
			<string>2012-10-28-is-life-always-hard.md</string>
		</array>
		<array>
			<string>2012-11-28-hanging-on-means-everything.md</string>
		</array>
		<array>
			<string>2013-07-28-never-say-goodbye-to-youth.md</string>
		</array>
		<array>
			<string>2013-07-28-say-good-bye-to-youth.md</string>
		</array>
		<array>
			<string>2013-09-03-itq-hashing.md</string>
		</array>
		<array>
			<string>2013-09-19-bag-of-word-model.md</string>
		</array>
		<array>
			<string>2013-10-20-winter-is-comming.md</string>
		</array>
		<array>
			<string>2013-10-27-kmeans-using-python.md</string>
		</array>
		<array>
			<string>2013-11-01-clustering-pixels-using-kmeans.md</string>
		</array>
		<array>
			<string>2013-11-26-learn-and-use-problem-summary-of-latex.md</string>
		</array>
		<array>
			<string>2013-11-29-carry-on-till-tomorrow.md</string>
		</array>
		<array>
			<string>2013-12-14-solve-pysqlite-problem.md</string>
		</array>
		<array>
			<string>2013-12-21-new-goals-in-new-year.md</string>
		</array>
		<array>
			<string>2014-02-22-add-background-music-by-audiojs.md</string>
		</array>
		<array>
			<string>2014-02-23-collect-jekyll-theme.md</string>
		</array>
		<array>
			<string>2014-03-12-python-vlfeat-pydot-tips.md</string>
		</array>
		<array>
			<string>2014-03-13-add-shadow-for-image-using-shadowbox.md</string>
		</array>
		<array>
			<string>2014-03-14-how-to-center-images-with-CSS.md</string>
		</array>
		<array>
			<string>2014-03-14-jekyll-writing-notes.md</string>
		</array>
		<array>
			<string>2014-03-15-test-mathjax.md</string>
		</array>
		<array>
			<string>2014-03-17-matplotlib-tutorial.md</string>
		</array>
		<array>
			<string>2014-03-18-matplotlib-title-using-Chinese.md</string>
		</array>
		<array>
			<string>2014-03-25-codes-of-hash-for-image-retrieval.md</string>
		</array>
		<array>
			<string>2014-04-04-python-download-photos-from-panoramio.md</string>
		</array>
		<array>
			<string>2014-04-10-cvpr14-reading-list.md</string>
		</array>
		<array>
			<string>2014-04-13-use-django-bulding-a-blog-four.md</string>
		</array>
		<array>
			<string>2014-04-13-use-django-bulding-a-blog-one.md</string>
		</array>
		<array>
			<string>2014-04-13-use-django-bulding-a-blog-two.md</string>
		</array>
		<array>
			<string>2014-04-14-use-django-bulding-a-blog-three.md</string>
		</array>
		<array>
			<string>2014-04-16-collection-algorithm.md</string>
		</array>
		<array>
			<string>2014-04-16-python-basic-knowledge-one.md</string>
		</array>
		<array>
			<string>2014-04-23-python-graph-install-error.md</string>
		</array>
		<array>
			<string>2014-04-23-zhi-hu-interesting-answers-collection.md</string>
		</array>
		<array>
			<string>2014-04-25-GitHub-repository-for-own-purposes.md</string>
		</array>
		<array>
			<string>2014-04-25-interesting-website-collection.md</string>
		</array>
		<array>
			<string>2014-05-02-the-most-beautiful-music-I-have-heard-two.md</string>
		</array>
		<array>
			<string>2014-05-07-extract-sift-and-surf-descriptor-using-opencv.md</string>
		</array>
		<array>
			<string>2014-05-08-config-mysql-for-django.md</string>
		</array>
		<array>
			<string>2014-05-10-papers-I-have-read.md</string>
		</array>
		<array>
			<string>2014-05-12-approximate-nearest-neighbor-search.md</string>
		</array>
		<array>
			<string>2014-05-24-use-django-bulding-a-blog-four.md</string>
		</array>
		<array>
			<string>2014-05-28-using-these-tools-to-make-life-better.md</string>
		</array>
		<array>
			<string>2014-05-29-happy-birthday-to-myself.md</string>
		</array>
		<array>
			<string>2014-05-31-ipv6-convert-to-ipv4.md</string>
		</array>
		<array>
			<string>2014-05-31-the-trick-of-using-git.md</string>
		</array>
		<array>
			<string>2014-06-01-build-development-environment.md</string>
		</array>
		<array>
			<string>2014-06-02-evaluation-of-information-retrieval.md</string>
		</array>
		<array>
			<string>2014-06-02-sequential-projection-learning-for-hashing.md</string>
		</array>
		<array>
			<string>2014-06-06-learning-swift-note-one.md</string>
		</array>
		<array>
			<string>2014-06-20-precision-recall-matlab-implement.md</string>
		</array>
		<array>
			<string>2014-06-21-a-letter-writen-by-san-mao-father.md</string>
		</array>
		<array>
			<string>2014-07-31-code-guide.md</string>
		</array>
		<array>
			<string>2014-07-31-graduate-anniversary.md</string>
		</array>
		<array>
			<string>2014-08-04-better-understanding-by-vps.md</string>
		</array>
		<array>
			<string>2014-08-17-say-something-about-snoring.md</string>
		</array>
		<array>
			<string>2014-08-25-python-rename-files-and-move-to-the-up-one-dir.md</string>
		</array>
		<array>
			<string>2014-08-31-django-blog-tutorial-the-next-generation-part-1.md</string>
		</array>
		<array>
			<string>2014-08-31-install-postgresql-on-ubuntu.md</string>
		</array>
		<array>
			<string>2014-10-03-django-web-guide-development-notes-one.md</string>
		</array>
		<array>
			<string>2014-10-21-django-markdown.md</string>
		</array>
		<array>
			<string>2014-10-29-database-for-cbir.md</string>
		</array>
		<array>
			<string>2014-10-29-deep-learning-for-cbir.md</string>
		</array>
		<array>
			<string>2014-10-30-all-about-vlad.md</string>
		</array>
		<array>
			<string>2014-11-14-problems-when-configing-caffe.md</string>
		</array>
		<array>
			<string>2015-01-09-object-detection-using-dlib.md</string>
		</array>
		<array>
			<string>2015-01-31-stay-together.md</string>
		</array>
		<array>
			<string>2015-02-09-CNN-for-image-retrieval.md</string>
		</array>
		<array>
			<string>2015-02-22-life-in-2014.md</string>
		</array>
		<array>
			<string>2015-04-02-image-retrieval-using-MatconvNet-and-pre-trained-imageNet.md</string>
		</array>
		<array>
			<string>2015-04-29-cvpr15-image-retrieval-reading-list.md</string>
		</array>
		<array>
			<string>2015-06-16-practical-BoW-for-image-retrieval-with-python.md</string>
		</array>
		<array>
			<string>2015-06-16-translation-published-at-CSDN.md</string>
		</array>
		<array>
			<string>2015-06-20-habir-updated-to-version-2.md</string>
		</array>
		<array>
			<string>2015-06-21- macbook-comes.md</string>
		</array>
		<array>
			<string>2015-06-21-sometihing-about-GMM-fisher-vector-SIFT-and-HOG.md</string>
		</array>
		<array>
			<string>2015-06-26-install-opencv3-and-anaconda-in-mac-os.md</string>
		</array>
		<array>
			<string>2015-07-01-swith-freely-between-opencv2-and-opencv3.md</string>
		</array>
	</array>
</dict>
</plist>
