/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position: relative;
	background: #fff url('loading.gif') no-repeat 50% 50%;
    margin-bottom: 10px;
    box-shadow: none;
}

.theme-default .nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.theme-default .nivoSlider a {
	border: 0;
	display: block;
}


.theme-default .nivo-controlNav {
	text-align: center;
	padding: 8px 0;
}

.theme-default .nivo-controlNav a {
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    box-sizing:  border-box;
    display: inline-block;
	width: 16px;
	height: 16px;
	background: black;
	border-radius: 22px;
	border: 2px solid black;
	box-shadow: inset 0 0 0 4px white;
	text-indent: -9999px;
	margin: 0 3px;
	-webkit-transition: all 400ms ease-in-out;
	   -moz-transition: all 400ms ease-in-out;
	    -ms-transition: all 400ms ease-in-out;
	     -o-transition: all 400ms ease-in-out;
	        transition: all 400ms ease-in-out;
}

.theme-default .nivo-controlNav a.active {
	background: black;
	box-shadow: inset 0 0 0 2px white, 0 0 0 2px black;
}

.theme-default .nivo-directionNav a {
	display: block;
	width: 30px;
	height: 30px;
	background: url('arrows.png') no-repeat;
	text-indent: -9999px;
	border: 0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.theme-default:hover .nivo-directionNav a { opacity: 0.8; }

.theme-default a.nivo-nextNav {
	background-position: -30px 0;
	right: 15px;
}

.theme-default a.nivo-prevNav {
	left: 15px;
}

.theme-default .nivo-caption a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.theme-default .nivo-caption a:hover {
    color: #fff;
}


.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}