<!DOCTYPE html>
<html lang="{% if page.language == nil %}en{% else %}{{ page.language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="aexITLS38FdIRzwj25OVWxm87rpa9l-UV0URTyC9cTs" />
  <title>
    {{ page.title }}
    {% if page.category == 'blog' and page.url != '/blog/index.html' %}
    - Yong Yuan
    {% endif %}
  </title>
  <link rel="stylesheet" href="../css/site.css">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <link rel="alternate" type="application/atom+xml" title="RSS Feed for Yong Yuan's blog" href="/feed.xml" />

  {% if page.url == '/index.html' %}
    <link rel="alternate" hreflang="ch" href="/cn/" />
  {% elsif page.url == '/cn/index.html' %}
    <link rel="alternate" hreflang="en" href="/" />
  {% endif %}

  {{ page.extra_head }}

  {% if page.category == 'blog' %}
    {% if page.photo %}
      <meta property="og:image" content="/images/posts/{{ page.photo }}" />
    {% endif %}
  {% endif %}
</head>
<body>
  <div class="top-bar">
  </div>

  <div class="header-container">
    <header class="inner">
      {% if page.url == '/cn/index.html' %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/cn/">关于</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/cn/project">项目</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
        <!--<a href="/resume/">简历</a>-->
		<a href="/yuanyong_resume_cn.pdf">简历</a>
        <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">出版</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">博客</a>
        <!--<a class="{% if page.category == 'contact' %} selected {% endif %} contact" href="/contact/">Contact</a>-->
        <a href="/books/">书单</a>
	<!--<a href="https://jinshuju.net/f/b3L2Be">雇佣</a>-->
        <a href="https://github.com/willard-yuan">Github</a>
      </nav>
      {% elsif page.url == '/cn/project.html' %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/cn/">关于</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/cn/project">项目</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
        <a href="/yuanyong_resume_cn.pdf">简历</a>
		<!--<a href="/resume/">简历</a>-->
        <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">出版</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">博客</a>
        <!--<a class="{% if page.category == 'contact' %} selected {% endif %} contact" href="/contact/">Contact</a>-->
        <a href="/books/">书单</a>
	<!--<a href="https://jinshuju.net/f/b3L2Be">雇佣</a>-->
        <a href="https://github.com/willard-yuan">Github</a>
      </nav>
      {% else %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/">About</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/project/">Project</a>
        <!--<a class="{% if page.category == 'resume' %} selected {% endif %}" href="/resume/">Resume</a>-->
		<a href="/yuanyong_resume_cn.pdf">Resume</a>
		<!--<a href="/resume/">Resume</a>-->
        <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">Publication</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
	    <a href="/books/">Book</a>
        <!--<a class="{% if page.category == 'contact' %} selected {% endif %} contact" href="/contact/">Contact</a>-->
        <a href="https://github.com/willard-yuan">Github</a>
      </nav>
      {% endif %}
      
      <div class="pull-right right logo">
        <div class="name">
          <a href="/">Yong Yuan</a><br />
          <small>
            <em>
              {% if page.url == '/cn/index.html' %}
                <a href="/cn">开发者</a>
              {% else %}
                <a href="/">developer</a>
              {% endif %}
            </em>
          </small>
        </div>
        <a href="http://yongyuan.name/"><img class="avatar" src="/images/YongYuan.png" alt="My profile picture" /></a>
      </div>
      <div class="clear"></div>
    </header>
    <div class="clear"></div>
  </div>

  {{ content }}
  <div class="separator"></div>

  <div  style="border-bottom: 1px solid #ddd"></div>
    <footer>
    <p class="linkings">
        Friend: <a href="http://peqiu.com/">Xuguo</a>&nbsp&nbsp&nbsp&nbsp<a href="http://jasonmpe.github.io/">HaiTao</a>&nbsp&nbsp&nbsp&nbsp<a href="http://raphael-mou.github.io/">Lichao</a>&nbsp&nbsp&nbsp&nbsp<a href="http://haobo-lv.github.io/">Haobo</a>&nbsp&nbsp&nbsp&nbsp<a href="http://www.52ml.net/">52ml</a>&nbsp&nbsp&nbsp&nbsp<a href="http://caoyaqiang.com/">cyq</a>&nbsp&nbsp&nbsp&nbsp<a href="http://personal.ee.surrey.ac.uk/Personal/R.Hu/">Rui Hu</a>&nbsp&nbsp&nbsp&nbsp<a href="http://www.pyimagesearch.com/">pyimagesearch</a>&nbsp&nbsp&nbsp&nbsp<a href="http://bean.logdown.com/">bean</a>&nbsp&nbsp&nbsp&nbsp<a href="http://ml.memect.com/">ml dairy</a>&nbsp&nbsp&nbsp&nbsp<a href="http://rogerioferis.com/VisualRecognitionAndSearch2014/Resources.html/">Resources</a>
    </p>
    <!--<p class="linkings">
        Database: <a href="http://horatio.cs.nyu.edu/mit/tiny/data/index.html">Tiny</a>&nbsp&nbsp&nbsp&nbsp<a href="http://www.vision.caltech.edu/Image_Datasets/Caltech256/">Caltech256</a>&nbsp&nbsp&nbsp&nbsp<a href="http://press.liacs.nl/mirflickr/">MIRFLICKR-1M</a>&nbsp&nbsp&nbsp&nbsp<a href="http://cs.joensuu.fi/sipu/datasets/">Clustering datasets</a>&nbsp&nbsp&nbsp&nbsp<a href="http://www.vis.uky.edu/~stewe/ukbench/">Ukbench</a>&nbsp&nbsp&nbsp&nbsp<a href="http://www.imageclef.org/">ImageCLEF</a>&nbsp&nbsp&nbsp&nbsp<a href="http://lear.inrialpes.fr/~jegou/data.php#holidays/">INRIA</a>
    </p>-->
    <p class="linkings">
        Utils: <a href="http://rogerioferis.com/VisualRecognitionAndSearch2014/Resources.html">rogerioferis</a>&nbsp&nbsp&nbsp&nbsp<a href="http://caffe.berkeleyvision.org/">Caffe</a>&nbsp&nbsp&nbsp&nbsp<a href="http://scikit-learn.org/stable/index.html">scikit-learn</a>&nbsp&nbsp&nbsp&nbsp<a href="http://www.astroml.org/index.html">AstroML</a></a>&nbsp&nbsp&nbsp&nbsp<a href="http://scikit-image.org/">scikit-image</a></a>&nbsp&nbsp&nbsp&nbsp<a href="http://gitxiv.com/">GitXiv</a>
    </p>
    <!--p>
      Made with <a href="http://jekyllrb.com/">Jekyll</a>,
      hosted on <a href="https://github.com/willard-yuan/willard-yuan.github.io">Github Pages</a>. Theme inspired by <a href="http://ssaunier.github.io">ssaunier</a>.
    </p-->
    </p>
      <a href="http://www.easycounter.com/"><img src="http://www.easycounter.com/counter.php?willard"border="0" alt="Website Hit Counter"></a> since August 2013.
    </p>
    <ul class="links">
      <!--li>
        <a href="https://github.com/willard-yuan" title="See my code on GitHub">
          <i class="icon-github"></i>
        </a>
      </li>	  
      <li>
        <a href="https://twitter.com/intent/follow?screen_name=yongyuan001" title="Follow me on Twitter">
          <i class="icon-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/sebastiensaunier" title="Connect with me on LinkedIn">
          <i class="icon-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/+SebastienSaunier?rel=author" title="I need this link for authorship reasons">
          <i class="icon-google-plus"></i>
        </a>
      </li>
      <li>
        <a href="https://pinboard.in/u:ssaunier" title="Browse my bookmarks about Programming">
          <i class="icon-bookmarks"></i>
        </a>
      </li>
      <li>
        <a href="/feed.xml" title="Subscribe to my blog with RSS">
          <i class="icon-feed"></i>
        </a>
      </li-->
    </ul>
  </footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40867989-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    /*!
     * http://github.com/ssaunier/track-outbound-links
     * Copyright 2013 Sébastien Saunier
     * @license MIT
     */
    !function(e,t){function n(){for(var n=t.getElementsByTagName("a"),a=[],r=0;r<n.length;++r){var o=n[r];o.host!=e.location.host&&a.push(o)}return a}function a(n){for(var a=n.srcElement||n.target;a&&("undefined"==typeof a.tagName||"a"!=a.tagName.toLowerCase()||!a.href);)a=a.parentNode;a&&a.href&&(e._gaq&&_gaq.push(["_trackEvent","Outbound link","Click",a.href]),(!a.target||a.target.match(/^_(self|parent|top)$/i))&&(setTimeout(function(){t.location.href=a.href},150),n.preventDefault?n.preventDefault():n.returnValue=!1))}e.addEventListener("load",function(){var e=n();for(var t in e)e[t].addEventListener("click",a)})}(window,document);
    var links = document.links;
    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
       if (links[i].hostname != window.location.hostname) { links[i].target = '_blank'; }
    }

    /*
     * Detect if we are included in an iframe => move.
     */
    if (window.top !== window.self
        && !window.self.location.href.match(/headsha\.re/))
    {
      window.top.location.replace(window.self.location.href);
    }
  </script>

  <!--
  <script id="_webengage_script_tag" type="text/javascript">
    // var _weq = _weq || {};
    // _weq['webengage.licenseCode'] = '11b563c38';
    // _weq['webengage.widgetVersion'] = "4.0";

    // (function(d){
    //   var _we = d.createElement('script');
    //   _we.type = 'text/javascript';
    //   _we.async = true;
    //   _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
    //   var _sNode = d.getElementById('_webengage_script_tag');
    //   _sNode.parentNode.insertBefore(_we, _sNode);
    // })(document);
  </script>
  -->

</body>
</html>
