---
layout: default
---

<link rel="stylesheet" href="../css/blog.css">

{% if page.photo %}
<div class="post-photo" style="background-image: url('/images/posts/{{ page.photo }}')">
</div>
{% endif %}

<div id="container">
<article>
<div class="inner">
<div class = "post-header">
  <h1>
    {{ page.title }}
  </h1>
  <ul class="meta">
  	<i class="fa fa-calendar"></i>
  	{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日
  	<i class="space"></i>
  	<i class="fa fa-archive"></i>
  	<a class="tag" href="{{ site.url }}/blog/categories.html#{{ page.categories }}">{{ page.categories }}</a>
  	<i class="space"></i>
  	<i class="fa fa-tags"></i>
  	{% for tag in page.tags %}
  	    <a class="tag" href="{{ site.url }}/tag/#{{ tag }}">{{ tag }}</a>
  	    <i class="space"></i>
  	{% endfor %}
  	<i class="space"></i> 字数:{{page.content | size |divided_by:2}}
  </ul>
</div>
</div>

  <div class="post">
        <div id="content">
          <div class ="sidebox">
              <div class ="sidebar">
              <div class="toc"></div>
              </div>
          </div>
  	   {{ content }}
  	</div>
	</div>
</article>

<!--翻页功能-->
<section class="inner">
<ul class="pager">
    {% if page.previous.url %}
    <li class="previous">
       <a href="{{page.previous.url}}">←{{page.previous.title}}</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="next">
    	<a href="{{page.next.url}}">{{page.next.title}}→</a>
    </li>
    {% endif %}
 </ul>
</section>

<!--评论功能-->
<section class="comments inner duoshuo">
<!-- Disqus Comment BEGIN -->
  <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'yongyuan'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<!-- Disqus Comment END -->

</section>
</div>

<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$']],
    <!--displayMath: [['$$','$$'], ['\[','\]']],-->
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Queue(function() {
    // Fix <code> tags after MathJax finishes running. This is a
    // hack to overcome a shortcoming of Markdown. Discussion at
    // https://github.com/mojombo/jekyll/issues/199
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>


