---
layout: default
---

<div class="inner">


  <!--<p class="fancy">
    I graduated in 2008 from <a href="http://www.polytechnique.edu/jsp/accueil.jsp?LANGUE=1">Polytechnique</a> and joined <a href="https://www.google.com/about/jobs/locations/zurich/">Google</a> as a software engineer intern. I came back to Paris in 2009 and worked 3 years as a software engineer for <a href="http://www.virtuoz.com">VirtuOz</a> on the SaaS tool suite. In 2012, I joined <a href="http://www.applidget.com">Applidget</a>
    as the lead developer of <a href="http://www.mobicheckin.com">MobiCheckin</a>, an award-winning SaaS solution for professional event organizer. Since 2007, I have technically bootstraped <a href="http://www.sogedis.fr">Sogedis</a> and grow it to a 3M€ business. I recently joined <a href="http://www.lewagon.org">Le Wagon</a>, a French 9 week-long bootcamp where I teach ruby on rails programming to entrepreneurs!
  </p>

  <ul class="portfolio-nav">
    <li {% if page.url == '/publication/index.html' %}class="active"{% endif %}>
      <a href="/publication/">Products</a>
    </li><li {% if page.url == '/publication/code.html' %}class="active"{% endif %}>
      <a href="/publication/code.html">Code</a>
    </li><li {% if page.url == '/publication/courses.html' %}class="active"{% endif %}>
      <a href="/publication/courses.html">Courses</a>
    </li>
  </ul>-->

  {{ content }}

<div class="fancy center convinced">
    <!--<a class="btn btn-lg" href="http://freelancebooking.pro/en/users/ssaunier">Book me</a>

    <br /><br />-->

    Here's my <a href="https://github.com/willard-yuan">Github</a> and <a href="http://yongyuan.name/YongYuan-Resume.pdf">resume</a>,
    let's <a href="/contact">get in touch</a>.
</div>

</div>
